<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="image/ico.png">
    <title>交通大数据</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <canvas id="canvas"></canvas>
    <script src="js/index.js"></script>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">2020服务外包大赛</h3>
<!--                        <nav class="nav nav-masthead">-->
<!--                            <a class="nav-link" href="/heatMap/heatMapBySecond.html">人群密度图</a>-->
<!--                            <a class="nav-link" href="/modeSpilt/BisectingKMeans.html">出行分析</a>-->
<!--                            <a class="nav-link" href="/stayAnalyse/stayAnalyse.html">驻留分析</a>-->
<!--                        </nav>-->
                    </div>
                </div>
                <!--
            <div class="inner cover">
                <h1 class="cover-heading">A06-小鸡炖蘑菇</h1>
                <br>

                <h2 class="h2 lead" style="font-size: 35pt">智慧城市，此刻开启</h2>
                <br>

                <p class="lead">
                    基于Flink的手机信令大数据挖掘系统
                </p>
                <br>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">了解更多</a>
                </p>
            </div>
-->
                <div class="inner cover">
                    <h1 class="cover-heading">A06-小鸡炖蘑菇</h1>
                    <br>

                    <h2 class="h2 lead" style="font-size: 35pt">智慧城市，此刻开启</h2>
                    <br>

                    <p class="lead">
                        基于Flink的手机信令大数据挖掘系统
                    </p>
                    <br>
                    <br>
                    <p class="lead">
                        <a href="/modeSpilt/GaussianMixture.html" class="btn btn-lg btn-secondary">了解更多</a>
                    </p>
                </div>




                <div class="mastfoot">
                    <div class="inner">
                        <p><a href="/heatMap/index">BigData</a> by <a href="https://www.bootcss.com/">Bootstrap</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>