<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>出行分析</title>
    <link href="/css/common.css" rel="stylesheet">
    <script src="/scripts/Plugin/jquery-3.3.1.min.js"></script>
    <script src="/scripts/Plugin/echarts.min.js"></script>
    <script src="/scripts/Plugin/bmap.min.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=Z9KjdRdAm9YkjTfx65mS7aAXdUoEjMWT"></script>
<!--    <script src="/scripts/common.js"></script>-->
    <script src="/scripts/index.js"></script>
    <script src="/scripts/Plugin/laydate/laydate.js"></script>
</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li class="nav_active"><i class="nav_1"></i><a href="/modeSpilt/GaussianMixture.html">出行分析</a> </li>
            <li><i class="nav_2"></i><a href="/modeSpilt/Kmeans.html">人群密度图</a> </li>
<!--            <li><i class="nav_3"></i><a href="trend.html">趋势分析</a> </li>-->
<!--            <li><i class="nav_4"></i><a href="chronic.html">慢病病人列表</a> </li>-->
        </ul>
    </div>
    <div class="header_center left" style="position:relative">

        <h2><strong>交通时空大数据</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>

        </ul>
    </div>

</header>
<!--内容部分-->
<div class="con left">

    <!--统计分析图-->
    <div class="div_any">
        <div class="left div_any01">
            <div class="div_any_child">
                <div class="div_any_title">出行方式占比</div>
                <p id="pieChart1" class="p_chart"></p>
            </div>
            <div class="div_any_child">
                <div class="div_any_title">出行方式平均距离</div>
                <p id="histogramChart" class="p_chart"></p>
            </div>
        </div>
        <div class="div_any02 left ">
            <div class="div_any_child div_height">
                <div class="div_any_title any_title_width">驻留分析图 </div>
                <div id="mapChart" style="width:97.5%;height:95%;display: inline-block;padding-left: 1.25%;padding-top:2.2%"></div>
            </div>
        </div>
        <div class="right div_any01">
            <div class="div_any_child">
                <div class="div_any_title">出行方式平均速度</div>
                <p id="lineChart" class="p_chart"></p>
            </div>
            <div class="div_any_child">
                <div class="div_any_title">出行方式平均时间</div>
                <p id="lineChart2" class="p_chart"></p>
            </div>
        </div>
    </div>

</div>
<script src="/scripts/index.js"></script>
<script th:inline="javascript">
    var averData = [[${averData}]];
    //var data = [[${coords}]];
    map();
    //heatmap(data)
    $.ajax({
        async: false,
        url: "/stayAnalyse/stayAnalyseData",
        type: "post",
        success: function (data) {
            heatmap(data);
        }
    })
</script>
<!--<script src="/scripts/index.js"></script>-->
<script>
    setInterval(function () {
        $.ajax({
            async: false,
            url: "/modeSpilt/GaussianMixture",
            type: "post",
            success: function (data) {
                map(data);
            }
        });
        $.ajax({
            async: false,
            url: "/stayAnalyse/stayAnalyseData",
            type: "post",
            success: function (data) {
                heatmap(data);
            }
        })
    }, 10*1000)
</script>
</body>
</html>

