<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/image/ico.png">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
    <!-- Jquery -->
    <script src="/js/jquery.js"></script>
    <!-- BootStrap -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0/echarts.min.js"></script>
    <script src="http://echarts.baidu.com/examples/vendors/echarts/extension/bmap.js?_v_=1536959211921"></script>
    <title>人群密度图</title>
    <link href="/css/common.css" rel="stylesheet">
    <script src="/scripts/Plugin/bmap.min.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=Z9KjdRdAm9YkjTfx65mS7aAXdUoEjMWT"></script>
    <!--    <script src="/scripts/common.js"></script>-->
    <script src="/scripts/quota.js"></script>
    <script src="/scripts/Plugin/laydate/laydate.js"></script>
</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li class="nav_1"><i class="nav_1"></i><a href="/modeSpilt/GaussianMixture.html">出行分析</a></li>
            <li><i class="nav_active"></i><a href="/modeSpilt/Kmeans.html">人群密度图</a></li>
            <!--            <li><i class="nav_3"></i><a href="trend.html">趋势分析</a> </li>-->
            <!--            <li><i class="nav_4"></i><a href="chronic.html">慢病病人列表</a> </li>-->
        </ul>
    </div>
    <div class="header_center left" style="position:relative">

        <h2><strong>交通时空大数据</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>

        </ul>
    </div>

</header>
<div class="con left">
    <div class="div_any">
<!--        <div class="div_any02 left ">-->
            <div class="div_any_child div_height">
                <div class="div_any_title any_title_width">人群密度图</div>
                <div id="mapChart"
                     style="width:97.5%;height:95%;display: inline-block;padding-left: 1.25%;padding-top:2.2%"></div>
            </div>
        </div>
<!--    </div>-->
</div>
<script src="/scripts/quota.js"></script>
<script th:inline="javascript">
    $.ajax({
        async: false,
        url: "/heatMap/heatMapDataByHour",
        type: "post",
        success: function (data) {
            heatmap(data);
        }
    })
</script>
<script>
    setInterval(function () {
        $.ajax({
            async: false,
            url: "/heatMap/heatMapDataByHour",
            type: "post",
            success: function (data) {
                heatmap(data);
            }
        })
    }, 60 * 1000)
</script>
</body>
</html>

